<div class="content flex flex-col gap-5 p-5 px-96">
    <header class="flex justify-center items-center flex-col mt-10">
        <h1 class="font-bold text-2xl">Adivinhe o número</h1>
    </header>
    <div class="form flex items-center flex-col gap-2">

        <ng-container *ngTemplateOutlet="!foundNumber ? name : otherName"></ng-container>
    </div>

</div>


<ng-template #name>

    <label for="guess">Sua aposta..</label>
    <input #input [ngModel]="guess" (ngModelChange)="changeGuess($event)" class="border p-2 border-blue-500" type="text"
        maxlength="2" id="guess">

    <button type="button" [ngClass]="{'disabled': !guess && guess != 0}"
        class="bg-blue-500 cursor-pointer active:translate-y-1 transition ease-in hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        [disabled]="!guess" (click)="searchNumber()">Apostar</button>


    <span *ngIf="areToo">
        <p>Muito {{areToo}}! Tente novamente</p>
    </span>

</ng-template>

<ng-template #otherName>

    <h1>Parabéns, você descobriu!!</h1>
    <h2>O número era {{realNumber}}</h2>
</ng-template>