<div class="content flex justify-center h-full p-10">
    <div class="card w-2xl h-2/3 text-center rounded-xl shadow-2xl bg-gray-200 flex p-3 flex-col">

        <h1 class="font-bold uppercase text-2xl">To-do <span class="font-light">List</span></h1>
        <div class="sections">
            <mat-tab-group [selectedIndex]="weekDay">

                <mat-tab *ngFor="let item of daysOfWeek" [label]="item.day"><app-dummy-list [day]="item.day"
                        [activities]="item.activities"></app-dummy-list></mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>